@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

@layer utilities {
  .animate-pulse-live {
    animation: pulse 1.4s infinite;
  }
}
