@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

@media (max-width: 960px) and (max-height: 540px) {
 .compact-header {
    font-size: 13px;
    gap: 6px !important;
    flex-wrap: nowrap !important;
    padding-left: 8px;
    padding-right: 8px;
  }

  .compact-header .text-xl {
    font-size: 16px !important;
  }

  .compact-header .text-sm {
    font-size: 12px !important;
  }

  .compact-header .text-lg {
    font-size: 14px !important;
  }
}